  * {
            margin: 0 auto;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            background-color: black;
        }

        .logo {
            position: relative;
            color: white;
            font-size: 2cm;
            text-shadow: 0 0 50px greenyellow,
                0 0 100px greenyellow,
                0 0 150px greenyellow,
                0 0 200px greenyellow,
                0 0 250px greenyellow,
                0 0 300px greenyellow;
                animation: animate 5s linear infinite;
        }